<!DOCTYPE html>
<html class="no-js desktop ">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" href="../static/Images/favicon.ico">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <title>Contact - Vrundavan Construction</title>

        <script src="../static/js/upper.js"></script>

    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/style2.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
        .contact-container{
            margin-top:10%;
        }
        .query-form{
            background-color: #023b64;
            color:white;
            padding:50px 80px;
        }
        .query-h4{
            font-size:20px;
            margin-bottom:40px;
        }
        .addr-header{
            margin-top:50px;
            margin-bottom:30px;
        }
        .addr{
            margin-bottom:30px;
        }
        .contact-hr{
            background-color:white;
            margin-bottom:30px;
            margin-top:30px;
        }
        .join-header{
            margin-top:50px;
            margin-bottom:30px;
        }
        .join-p{
            margin-top:50px;
        }
      .v-logo{
        height:100px;
      }
      .home-screen__step-2__content__inner__body{
        display: inline-block;
      }
      .unorder-li{
        display: inline-block;
      }
      .unorder-li i{
        display:inline-block;
      }
      .unorder-li .li-p{
        display:inline-block;
      }
      #main-loading__progress{
        margin-bottom:280px;
      }
      .logo{
        height:300px; margin-top:100px;
      }
      .nav-link{
        font-size:12px;
        color:grey;
        margin-left:30px;
      }
    
      .nav-link:hover{
        background-color:#023b64;
        transition: 0.5s;
        color:white;
        letter-spacing:2px;
        padding:10px 40px;
      }
      .active{
        background-color: #023b64;
        padding:10px 60px;
        color:white;
      }
      nav{
        height:200px;
      }
      
      .middle-contact{
        background-color:rgba(242,242,242,0.4);
      }
      form{
        padding:20px 40px;
      }
      .touch-h2{
        font-size:18px;
        margin-top:40px;
        margin-left:40px;
      }
      textarea{
        border:1px solid 
      }
      .submit-btn{
        padding:7px 40px;
        background-color: #808080;
        color:white;
        border-radius:0px;
        margin-top:40px;
        margin-bottom:40px;
      }
      
    </style>

      </head>
  <body class="page-id-contact">

    <div id="top-bar">
</div>  
  <a class=" " href="/" id="logo">
    <img src="../static/Images/full_logo.png" style="height:70px;">

</a>  
      <nav class="" id="nav">

  <input id="nav-is-open" type="checkbox" value="" aria-hidden="true">

  <label id="nav-toggle" class="" for="nav-is-open">
    <span id="nav-toggle__list">
      <span class="nav-toggle__list__line"></span>
      <span class="nav-toggle__list__line"></span>
      <span class="nav-toggle__list__line"></span>
    </span>
    <span id="nav-toggle__cross">
      <span class="nav-toggle__cross__line"></span>
      <span class="nav-toggle__cross__line"></span>
    </span>
  </label>

  <div id="nav__content">
    <div id="nav__content__inner">
      <div id="nav__content__bg">
        <svg xmlns="http://www.w3.org/2000/svg" width="1440" height="900" viewBox="0 0 1440 900">
          <path fill="none" stroke="#E02D2D" stroke-width="0" stroke-miterlimit="10" d="M-41 715l398-398L-15-55"/>
          <path fill="none" stroke="#C40E0E" stroke-width="0" stroke-miterlimit="10" d="M541.5 122.8L701.7-37.5"/>
          <path fill="none" stroke="#D14B4B" stroke-width="0" stroke-miterlimit="10" d="M1007 353L813.8 159.9 513 461.9l506.9 515.9"/>
          <path fill="none" stroke="#CE0D0D" stroke-width="0" stroke-miterlimit="10" d="M634.8 376.7l259.4 259.4"/>
          <path fill="none" stroke="#ED1818" stroke-width="0" stroke-miterlimit="10" d="M784.6 345.1L958 516.5 1499.1-37"/></svg> 
         </div>



         <nav class="navbar navbar-expand-lg">
         
            <ul class="navbar-nav nav-3 ml-auto">
              <li class="nav-item">
                <a class="nav-link " href="{{url_for('home')}}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('about')}}">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('services')}}">Services</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Projects
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{{url_for('projects')}}" style="font-size:12px;">Ongoing Projects</a>
                  <a class="dropdown-item" href="{{url_for('complete')}}" style="font-size:12px;">Completed Projects</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('career')}}"> Career</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{{url_for('contact')}}"> Contact Us</a>
              </li>
            </ul>
          
        </nav>
      
    </div>
  </div>

</nav>

    <div id="page-container">
      
<section class="page" id="contact-page">
  <header id="contact__header">
  <!-- <div id="contact__header__img-wrapper">
    <div id="contact__header__img"></div>
  </div> -->
  <div id="contact__header__overlay"></div>
  <div id="contact__header__txt">
    <h1 id="contact__title">Say Hello !</h1>
    <h2 id="contact__subtitle">For a <span data-target="project">project</span>, as a <span data-target="vendor">partner</span> or as a <span data-target="job">team</span>.</h2>
    <div id="contact__intro">
      We are in the business since 2001 with the aim of providing best service with effectiveness of Quality and Quick response to the client's requirements because of this virtue we have been rewarded with prestigious projects like <strong style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">"Statue of Unity"</strong>, <strong style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">Reliance Jamanagar</strong>, <strong style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">Dholera SIR</strong> and many more. Our Consistant performance without sacrifice with quality standards is the only reason of our present situation.
    </div>
  </div>
</header>  



<div class="container">
  <div class="row">
    <div class="col-md-1 col-lg-1 col-sm-12">

    </div>
    <div class="col-md-10 col-lg-10 col-sm-12 col-12 middle-contact" id="contact">
      <h2 class="touch-h2">
        Get In Touch With Us
      </h2>
      <form onsubmit="return validate()" action="{{url_for('contact')}}" method="POST">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputName"><strong>Name<span style="color:red;">*</span></strong></label>
            <input type="text" class="form-control" name="name" id="inputName" required placeholder="Name"><br>
            <p id="np" style="color:red;display:none;">Invalide Name</p>
          </div>
          <div class="form-group col-md-6">
            <label for="inputEmail4"><strong>Email<span style="color:red;">*</span></strong></label>
            <input type="email" required class="form-control" name="email" id="inputEmail4" placeholder="Email"><br>
            <p id="ep" style="color:red;display:none;">Invalid Email</p>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputContact"><strong>Contact<span style="color:red;">*</span></strong></label>
            <input type="text" required class="form-control" name="phone" id="inputContact" placeholder="Contact Number"><br>
            <p id="cp" style="color:red;display:none;">Invalid Contact Number</p>
            <p id="lcp" style="color:red;display:none;">Length should be equal to 10!</p>
          </div>
          <div class="form-group col-md-6">
            <label for="inputSubject"><strong>Subject<span style="color:red;">*</span></strong></label>
            <input type="text" required class="form-control" name="Subject" id="inputSubject" placeholder="Subject"><br>
            <p id="sp" style="color:red;display:none;">Invalid Subject</p>
          </div>
        </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputAddress"><strong>Address<span style="color:red;">*</span></strong></label>
          <input required type="text" class="form-control" name="address" id="inputAddress" placeholder="Address" ><br>
          <p id="ap" style="color:red;display:none;">Invalid Address</p>
        </div>
        <div class="form-group col-md-6">
          <label for="inputCall"><strong>Call<span style="color:red;">*</span></strong></label>
          <input required type="text" class="form-control" name="call" id="inputCall" placeholder="Best time to call"><br>
          <p id="callp" style="color:red;display:none;">Invalid Address</p>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-12 col-lg-12 col-sm-12">
          <label for="inputMessage"><strong>Message<span style="color:red;">*</span></strong></label>
          <textarea required name="message" class="form-control msg" for="inputMessage" placeholder="Type a message" style="height:200px;"></textarea>
        </div>
      </div>

      <button type="submit" class="btn btn-lg submit-btn">
        <i class="fa fa-paper-plane-o" aria-hidden="true" style="margin-right:20px;"></i> Submit
      </button>
    </form>
    </div>
    <div class="col-md-1 col-lg-1 col-sm-12">
      
    </div>
  </div>
  
</div>

  <div id="contact__infos">
  <div id="contact__infos__panel">
    <h3 id="contact__infos__panel__title">Any request ?</h3>

    <div class="contact__infos__panel__set">
      <h4 class="contact__infos__panel__subtitle">Get in touch !</h4>
      <div id="contact__infos__direct">
        <div id="contact__infos__address">Vrundavan Construction<br>115 Infocity, Super Mall - 1,<br> S. G. Road, Gandhinagar - 382009
            Gujarat (India)</div>
        <div id="contact__infos__phone"><strong>Phone:</strong> +91-79-23213424</div>
        <div id="contact__infos__phone"><strong>Phone:</strong> +91-79-23213524</div>
        <div id="contact__infos__email"><strong>Email:</strong> <a href="info@vrundavanconstruction.com" target="_blank" rel="noopener" class="contact__email-link">info@vrundavanconstruction.com</a></div>
      </div>
    </div>

    <div class="contact__infos__panel__set">
      <h4 class="contact__infos__panel__subtitle">Want to join the team ?</h4>
      <div id="contact__infos__careers">
        <p>Use the form. All applicants must complete the online form</p>
      </div>
    </div>
  </div>

  <div id="contact__infos__map" style="background-color: white;">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3667.293467707115!2d72.63134141542513!3d23.19597331564485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395c2a37587b760b%3A0x7d80ad89029cad13!2sVrundavan%20Construction!5e0!3m2!1sen!2sin!4v1615637312735!5m2!1sen!2sin" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>
  
</div>
  
</section>


<section class="page" id="main-loading-page">
    <!-- <div id="main-loading__overlay"></div> -->
    <!-- <div id="main-loading__outer"> -->
      <!-- <div id="main-loading__inner">  -->
        <!-- viewBox="0 0 1440 900" width="1440" height="900"-->
  
        <div id="main-loading__lines">
          <svg xmlns="http://www.w3.org/2000/svg"  >
            <path fill="none" stroke="#F9F9F9" stroke-width="0" stroke-miterlimit="10" d="M694.7 739L540.2 584.5l138.2-138.2 65.1 65"/> 
            <path fill="none" stroke="#F9F9F9" stroke-width="0" stroke-miterlimit="10" d="M734.8 661.4l170.8-170.8-321.2-321.2-254.8 254.8"/>
            <path fill="none" stroke="#F9F9F9" stroke-width="0" stroke-miterlimit="10" d="M421.3 516.1l254.9-254.9"/>
            <path fill="none" stroke="#FFFFFF" stroke-width="0" stroke-miterlimit="10" d="M1549.7 745.8l-447.3-447.3"/>
            <path fill="none" stroke="#FFFFFF" stroke-width="0" stroke-miterlimit="10" d="M906.4 489.7L1771-374.8"/>
            <path fill="none" stroke="#FFFFFF" stroke-width="0" stroke-miterlimit="10" d="M676.2 261.2l663.5-663.6"/>
            <path fill="none" stroke="#FFFFFF" stroke-width="0" stroke-miterlimit="10" d="M582.2 167.2l-621-621"/>
            <path fill="none" stroke="#FFFFFF" stroke-width="0" stroke-miterlimit="10" d="M293.2-136l-924.1 924.2"/>
            <path fill="none" stroke="#FFFFFF" stroke-width="0" stroke-miterlimit="10" d="M220.6 649.7l-753.4-753.3"/>
            <path fill="none" stroke="#FFFFFF" stroke-width="0" stroke-miterlimit="10" d="M329.6 424.2L-92 845.8"/>
            <path fill="none" stroke="#FFFFFF" stroke-width="0" stroke-miterlimit="10" d="M-494.2 1712.7l924.5-924.5"/>
            <path fill="none" stroke="#FFFFFF" stroke-width="0" stroke-miterlimit="10" d="M1077.4 1121.7L675.9 720.2"/>
          </svg>  
            </div>
        
    </div>
  </section>
    
 </div>

    <footer id="footer" style="background-color: #023b64;">
  <div id="footer__inner">
    <div id="footer__logo">
      
      <img src="../static/Images/full_logo.png" style="height:100px;" class="footer-logo">
    </div>

    <ul id="footer__pages">
      
              <li class="footer__page" id="footer__page--home">
          <a class="footer_link" style="color:white;font-size:12px;margin-right:50px;" href="{{url_for('home')}}">Home</a>

          <ul class="footer__page__sections" style="margin-top:130px;margin-right:50px;">
            
                                                        
              <li class="footer__page__section">
                <a class="footer__page__section__title" href="/#story">Story</a>
              </li>
                                                        
              <li class="footer__page__section">
                <a class="footer__page__section__title" href="/#client-commitment">Client commitment</a>
              </li>
                                                        
              <li class="footer__page__section">
                <a class="footer__page__section__title" href="/#vision">Vision</a>
              </li>
                                                        
              <li class="footer__page__section">
                <a class="footer__page__section__title" href="/#expertise">Expertise</a>
              </li>
                                                        
              <li class="footer__page__section">
                <a class="footer__page__section__title" href="/#who-we-are">Who we are</a>
              </li>
                                                        
              <li class="footer__page__section">
                <a class="footer__page__section__title" href="/#services">Services</a>
              </li>
                                                        
              <li class="footer__page__section">
                <a class="footer__page__section__title" href="/#personal-commitment">Personal commitment</a>
              </li>
                      </ul>

  
              <li class="footer__page" id="footer__page--projects">
          <a  style="color:white;font-size:12px;" href="#">Projects</a>

          <ul class="footer__page__sections"  style="margin-top:130px;">
            
                                                        
              <li class="footer__page__section">
                <a class="footer__page__section__title" href="/project/water-u">Road Projects</a>
              </li>
                                                        
              <li class="footer__page__section">
                <a class="footer__page__section__title" href="/project/schneider-schaumburg">Dams & Canals Projects</a>
              </li>
                                                        
              <li class="footer__page__section">
                <a class="footer__page__section__title" href="/project/schneider-houston">Pipeline Projects</a>
              </li>
                                                        
              <li class="footer__page__section">
                <a class="footer__page__section__title" href="/project/ecolab-lobby">Civil Work</a>
              </li>
                                                        
              <li class="footer__page__section">
                <a class="footer__page__section__title" href="/project/customer-experience-center">Power Projects</a>
              </li>

              <li class="footer__page__section">
                <a class="footer__page__section__title" href="/project/customer-experience-center">Earth Work</a>
              </li>

              <li class="footer__page__section">
                <a class="footer__page__section__title" href="/project/customer-experience-center">River Front Projects</a>
              </li>

              <li class="footer__page__section">
                <a class="footer__page__section__title" href="/project/customer-experience-center">Tower Projects</a>
              </li>
                      </ul>

        </li>
              <li class="footer__page" id="footer__page--about">
          <a  style="color:white;font-size:12px;" href="{{url_for('about')}}">About us</a>

          <ul class="footer__page__sections">
            
                      </ul>

        </li>
              <li class="footer__page" id="footer__page--contact">
          <a  style="color:white;font-size:12px;" href="{{url_for('contact')}}">Contact</a>

          <ul class="footer__page__sections">
            
                                                        
              <li class="footer__page__section"  style="margin-top:130px;">
                <a  style="color:white;font-size:12px;" href="{{url_for('career')}}">Careers</a>
              </li>
                      </ul>

        </li>
          </ul>


    <div id="footer__contact"><strong>Vrundavan Construction</strong><br>115 Infocity, Super Mall - 1,<br>S. G. Road, Gandhinagar - 382009<br>Gujarat (India)</div>

    <div id="footer__bottom">
      <div id="footer__copyright">2021 Vrundavan Construction. All Rights Reserved.</div>
    </div>
  </div>
</footer>

        <script src="../static/js/contactvalidate.js"></script>

                <script src="../static/js/bootomjq.js"></script>
            <script>window.jQuery || document.write('<script src="https://www.maman-corp.com/assets/js/lib/jquery-3.1.1.min.js"><\/script>')</script>

        <script src="../static/js/bootomjs.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>